destination: ./doc
source:
	- src/IcFwk

extensions:
	- php

exclude:
	- */tests/*
	- */vendor/*

charset:
	- UTF-8

title: IcFwk API
groups: auto
autocomplete:
	- classes
	- constants
	- functions
	- methods
	- properties
	- classconstants

accessLevels:
	- public
	- protected
	- private

php: true
tree: true
deprecated: true
todo: true
download: true
